.navbar {
    .btn {
      border-radius: 20px;
    }
  
    input.form-control {
      border-radius: 20px;
    }
  
    .dropdown-menu {
      font-size: 0.9rem;
      max-width: 250px;
    }
  
    .bi-bell {
      font-size: 1.25rem;
    }
  }

  .dropdown-item {
    cursor: pointer;
  }

  button.reset-button {
    all: unset;
    cursor: pointer; /* opcional */
  }

  .modal-width{
    max-width: 450px;
    width: 100%;
  }