::ng-deep .chat-window {
    border-radius: 20px !important;
  }

  ::ng-deep .chat-window-toggle {
    height: 40px !important;
    width: 40px !important;
    background-color: rgb(137, 193, 82) !important;
  }

  ::ng-deep .chat-header {
    background-color: rgb(12, 104, 75) !important;
  }

  ::ng-deep .chat-window {
    height: 500px !important;
    width: 300px !important;
  }

  ::ng-deep .chat-message {
    border-radius: 20px !important;
  }

  ::ng-deep p {
    font-size: 15px !important;
  }